*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Top Bar */
.top-bar{
    background: #111;
    color: #fff;
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #6cb2c4;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo{
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

/* Nav Links */
.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 0 15px;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
}

.nav-links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: gold;
    transition: 0.3s;
}

.nav-links a:hover::after{
    width: 100%;
}

/* Right Side */
.nav-right{
    display: flex;
    align-items: center;
}

.search-btn{
    background: transparent;
    border: 1px solid #333;
    padding: 6px 12px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.search-btn:hover{
    background: #333;
    color: white;
}

.login-btn{
    background-color: #333;
    color: white;}