

body{

    
}





p{

color: #5c0404;
background-color: rgb(91, 91, 236);
text-align: center;
font-size: 40px;
text-decoration: underline;
text-transform: lowercase;
 font-style: italic;
}
#abhi {color: aliceblue; background-color: #5c0404;
text-align: center;font: size 30px;
text-decoration: indianred;
font-style: initial;
font-weight: 100;

}


.kishan {
 background-color: blueviolet;
 /* padding: 10px; */
margin: 20px;  
/* padding: left 5%;  */
padding-left: 20px;
  border-radius: 20px;




}
.fan{
  
  width: 250px;
  height: 250px;
  border-radius: 80%;
  border: 1px solid black;
  margin: auto;
}


.disha{
height: 500px;
width: 500px;
border: 1px solid black;
margin: auto;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;

}
