

body{

    
}





p{

color: #5c0404;
background-color: rgb(91, 91, 236);
text-align: center;
font-size: 40px;
text-decoration: underline;
text-transform: lowercase;
 font-style: italic;
}
#abhi {color: aliceblue; background-color: #5c0404;
text-align: center;font: size 30px;
text-decoration: indianred;
font-style: initial;
}